[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "gruvhugo"]
	path = gruvhugo
	url = https://gitlab.com/avron/gruvhugo.git
[submodule "themes/themes/paper"]
	path = themes/themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
